body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.eyes {
    position: absolute;
    top: 0;
    left: 0;
    width: 20vh;
    image-rendering: pixelated;
}
.text {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 20vh;
    font-size: large;
    font-family: 'MS Gothic', monospace;
}

.github-logo {
    width: 5vh;


}

.sbox-logo {
    width: 5vh;
    margin-left: 1vh;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height: 100vh; /* Adjust as needed */
}